.box-title {
padding: 1rem;
margin-top: 20rem;
background: rgba(255, 255, 255, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(255, 255, 255, 0.73);

}



p {
    color: black;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 50px 50px 0px;
    text-indent: 1rem;
}

h1 {
    color: rgb(255, 8, 148);
    font-size: 64px;
    text-wrap: wrap;
    font-weight: 700;

}






  

