.box-title {
padding: 1rem;
margin-top: 20rem;
}



p {
    color: black;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 50px 50px 0px;
    text-indent: 1rem;
}

.box-title h1 {
    color: rgb(255, 255, 255);
    font-size: 44px;
    text-wrap: wrap;
    font-weight: 700;

}
img {
    width: 450px;
    left: 300px;
    top: 230px;
    position: fixed
}


@media (max-width: 766px) {
    img {
        left: 100px;
    }
    .box-title {
        margin-top: 1rem;
    }
  }






  

